
/*General Styling*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Yantramanav';
}
a{
  text-decoration: none;
}

ul, li{
  list-style: none;
}

button:focus{
  outline: none;
}

/*services-section*/

.services-section{
  padding: 50px 0;
  background-color: #fafafa;
}

.section-title
 {
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 30px;
    font-weight: 700;
    color: #2a2a2a;
}

.service-content{
    padding: 20px;
}

.single-service-item{
    background: #fff;
}

.single-service-item:hover{
    box-shadow: 0 0 4px #ddd;
}

.single-service-item .service-img img{
    width: 100%;
}
.single-service-item .service-content h3{
    font-size: 20px;
    font-weight: 600;
    color: #373737;
}
.single-service-item .service-content p{
    font-size: 14px;
    font-weight: 400;
    color: #9c9c9c;
    line-height: 22px;
    margin: 20px 0;
}
.single-service-item .service-content .btn{
    border: none;
    font-size: 12px;
    padding: 10px 0;
    border-radius: 50px;
    display: inline-block;
    transition: 0.3s;
}

.single-service-item .service-content .btn:hover{
    padding: 10px 20px; 
    font-size: 12px;
    transition: 0.3s;
}

.single-service-item .service-content .btn .fa{
    padding-left: 5px;  
}

/*Responsive*/

@media(max-width: 575px){
    .single-service-item{
        margin-bottom: 16px;
    }
}
